@use './style/global.scss' as *;

.home{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;

  &-main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
  }
}